flow IA missions.json
[
    {
        "id": "b2797b6862353aa1",
        "type": "tab",
        "label": "IA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b49db2720c8287e1",
        "type": "debug",
        "z": "b2797b6862353aa1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d91112f759a5b32",
        "type": "mqtt in",
        "z": "b2797b6862353aa1",
        "name": "",
        "topic": "IA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a40a12702c9d6d33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "b49db2720c8287e1"
            ]
        ]
    },
    {
        "id": "m1_active",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 1 Active",
        "label": "Mission 1 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/1/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "m1_phase",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 1 Phase",
        "label": "Mission 1 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/1/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "fusion_m1",
        "type": "function",
        "z": "b2797b6862353aa1",
        "name": "Fusion Mission 1",
        "func": "// Récupérer la table\nlet missions = flow.get(\"missions\") || {};\n\n// Extraire ID depuis le topic : mission/X/active ou mission/X/phase\n// Exemple: \"mission/7/phase\" -> id = 7\nlet parts = (msg.topic || \"\").split(\"/\");\nlet id = Number(parts[1]) || 1;  // fallback 1 si rien n’est envoyé\n\n// S’assurer que la mission existe\nif (!missions[id]) {\n    missions[id] = { Active: 0, Phase: 0 };\n}\n\n// Mise à jour active/phase\nif (parts[2] === \"active\") {\n    missions[id].Active = Number(msg.payload);\n}\nelse if (parts[2] === \"phase\") {\n    missions[id].Phase = Number(msg.payload);\n}\n\n// Sauvegarde\nflow.set(\"missions\", missions);\n\n// Renvoi toujours état complet de la mission concernée\nmsg.payload = {\n    ID: id,\n    Active: missions[id].Active ?? 0,\n    Phase: missions[id].Phase ?? 0\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 280,
        "wires": [
            [
                "69773b96af3a1da7",
                "b49db2720c8287e1"
            ]
        ]
    },
    {
        "id": "fbe514807b116d1e",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 2 Phase",
        "label": "Mission 2 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/2/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "8670c14a09f7fe41",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 2 Active",
        "label": "Mission 2 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/2/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "68905925a98128d2",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 3 Active",
        "label": "Mission 3 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/3/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "91198b79e8fa6a40",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 3 Phase",
        "label": "Mission 3 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/3/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 580,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "69773b96af3a1da7",
        "type": "mqtt out",
        "z": "b2797b6862353aa1",
        "name": "",
        "topic": "IA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a40a12702c9d6d33",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "6cdf81f35033f0d2",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 4 Active",
        "label": "Mission 4 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/4/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 640,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "17fc108d9c6c0a04",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 4 Phase",
        "label": "Mission 4 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/4/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 700,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "9cbc3d83d79122ac",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 5 Phase",
        "label": "Mission 5 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/5/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 820,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "b233f1b7c4c56c03",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 5 Active",
        "label": "Mission 5 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/5/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 760,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "de263811ea68e14a",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 6 Active",
        "label": "Mission 6 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/6/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 880,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "d02470e6642a26c3",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 6 Phase",
        "label": "Mission 6 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/6/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 940,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "24f6ed3e87f569d0",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Labyrinthe Magique",
        "info": "",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "dbe68012614cad48",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Canon Noir",
        "info": "",
        "x": 310,
        "y": 400,
        "wires": []
    },
    {
        "id": "cf7a395f116c54d3",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Les Aventurier du Rail",
        "info": "",
        "x": 280,
        "y": 520,
        "wires": []
    },
    {
        "id": "bfadc55f77ab544d",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Trivial Pursuit",
        "info": "",
        "x": 310,
        "y": 640,
        "wires": []
    },
    {
        "id": "230e9ea1fbe5ab8b",
        "type": "ui_numeric",
        "z": "b2797b6862353aa1",
        "name": "",
        "label": "Nb Mission visible",
        "tooltip": "",
        "group": "f359ea7c5261e5e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "2",
        "max": "4",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "a8a5ab7b6ca982dd"
            ]
        ]
    },
    {
        "id": "a8a5ab7b6ca982dd",
        "type": "function",
        "z": "b2797b6862353aa1",
        "name": "Visible Active Slots",
        "func": "msg.payload = \"Visible Active Slots \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 180,
        "wires": [
            [
                "69773b96af3a1da7"
            ]
        ]
    },
    {
        "id": "4ba2fc8a319c14b7",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Cluedo",
        "info": "",
        "x": 330,
        "y": 760,
        "wires": []
    },
    {
        "id": "710e83d6fa2330d8",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "7 Wonders",
        "info": "",
        "x": 320,
        "y": 880,
        "wires": []
    },
    {
        "id": "c7101a9734156523",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 7 Active",
        "label": "Mission 7 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/7/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "ce6d0e311741b196",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 7 Phase",
        "label": "Mission 7 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/7/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 1060,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "43ddb6b2de4b54be",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 8 Phase",
        "label": "Mission 8 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/8/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 1180,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "2c07390cc1eb6773",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 8 Active",
        "label": "Mission 8 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/8/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 1120,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "6dc0d0f4367328da",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 9 Active",
        "label": "Mission 9 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/9/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 1240,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "b5aa707a65019166",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 9 Phase",
        "label": "Mission 9 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/9/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 1300,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "e8eaca05160f5732",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 10 Active",
        "label": "Mission 10 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/10/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 1360,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "c6ebab69231087e0",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 10 Phase",
        "label": "Mission 10 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/10/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "14e85ccdb7266648",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 11 Phase",
        "label": "Mission 11 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/11/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 1540,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "384801f63cbcfca2",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 11 Active",
        "label": "Mission 11 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/11/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "6cc7c22e9794cf74",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 12 Active",
        "label": "Mission 12 - Active",
        "tooltip": "",
        "group": "f24254a62de10832",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/12/active",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 1600,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "9422f8d5391761f8",
        "type": "ui_switch",
        "z": "b2797b6862353aa1",
        "name": "Mission 12 Phase",
        "label": "Mission 12 - Phase",
        "tooltip": "",
        "group": "666f96210c036a2a",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mission/12/phase",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 1660,
        "wires": [
            [
                "fusion_m1"
            ]
        ]
    },
    {
        "id": "cdc4c0ec3adeb135",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Labyrinthe Magique",
        "info": "",
        "x": 290,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5ce7779b07e2247d",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Canon Noir",
        "info": "",
        "x": 310,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f14cc83bbd1f313d",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Les Aventurier du Rail",
        "info": "",
        "x": 280,
        "y": 1240,
        "wires": []
    },
    {
        "id": "53e002dd929d25d9",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Trivial Pursuit",
        "info": "",
        "x": 310,
        "y": 1360,
        "wires": []
    },
    {
        "id": "272731d476c910cb",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "Cluedo",
        "info": "",
        "x": 330,
        "y": 1480,
        "wires": []
    },
    {
        "id": "43b2091b6fb5483f",
        "type": "comment",
        "z": "b2797b6862353aa1",
        "name": "7 Wonders",
        "info": "",
        "x": 320,
        "y": 1600,
        "wires": []
    },
    {
        "id": "a40a12702c9d6d33",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f24254a62de10832",
        "type": "ui_group",
        "name": "Active",
        "tab": "dc518d9b2ba96c32",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "666f96210c036a2a",
        "type": "ui_group",
        "name": "Phase",
        "tab": "dc518d9b2ba96c32",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f359ea7c5261e5e2",
        "type": "ui_group",
        "name": "Parametrage",
        "tab": "dc518d9b2ba96c32",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc518d9b2ba96c32",
        "type": "ui_tab",
        "name": "IA",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]