Flow Node Red 22-11.json
[
    {
        "id": "f73313f401106dc7",
        "type": "tab",
        "label": "[FLO] Dev",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a9ce5eec63a56f7",
        "type": "group",
        "z": "f73313f401106dc7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "93a7f824af352cc2",
            "a8ef251c8ce117de",
            "12dfb431359ac3ca",
            "83a410cd540d6117",
            "fda5696cfa135f61",
            "de4a243727b480b5"
        ],
        "x": 54,
        "y": 39,
        "w": 722,
        "h": 242
    },
    {
        "id": "8f0f6d3ff5c47108",
        "type": "group",
        "z": "f73313f401106dc7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e07be3fcbf91b0f3",
            "5c7089e9d4497fe3",
            "c746b06ffd68ffc7",
            "d4ad523c28863d87",
            "c47b94d179a70e2a",
            "cd78049c622034bf",
            "48b31ed7fc0b590f",
            "ed2277426e05c150",
            "90f96354824a24f0",
            "99c0def4f9f55d96",
            "93be16f05bbb8d67",
            "367307c89130d23f",
            "af8cbc2d0cc385e6",
            "8dc3aeb1d215dd12",
            "a449f54cf43803f0",
            "cec9b0b9db1ad643",
            "420e4b7305fe458b",
            "5c343b890664f94c",
            "0b944fa2d9d163e9"
        ],
        "x": 54,
        "y": 299,
        "w": 772,
        "h": 442
    },
    {
        "id": "6b3daf9014316085",
        "type": "group",
        "z": "f73313f401106dc7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f09c603dc89075ee",
            "9bf577a06e35fab7",
            "451aa9531b020143",
            "68371a9df8e41cd7",
            "accf8fea5cccc167",
            "8e49f4a923b59f9f",
            "5e76a7f8c7e2ab75",
            "2e218792b126c8b6",
            "d7884c96e4bd8a28",
            "39c50a9c9490356e",
            "2d16abb869c63614",
            "da620f49c0cecb86",
            "e7d81a699daf7166",
            "f7f317ee4515326f",
            "99cbbb46b95c3616",
            "17f875d3bfb518e8",
            "83f3bd4bf9cda951",
            "22374dea64fae238",
            "acc305afcaa43f13",
            "989e963299f3b687"
        ],
        "x": 854,
        "y": 39,
        "w": 812,
        "h": 1002
    },
    {
        "id": "af0b0d2da630c492",
        "type": "group",
        "z": "f73313f401106dc7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5fa4d073f51c1cbf",
            "79aca2182aa820cf",
            "e8f409ed6a0d0b16",
            "c0dc41655585f242",
            "d7149195a6443627",
            "9e1cc0835f587580",
            "4ca0c7de5b7d35a0",
            "7a7142e8e2787093",
            "428e060b02971cdd",
            "b63a5cf045032b75",
            "7931e601e76b53cb",
            "083762c4d6fc3fc5",
            "dc5353e052c502fb"
        ],
        "x": 54,
        "y": 759,
        "w": 732,
        "h": 382
    },
    {
        "id": "93a7f824af352cc2",
        "type": "websocket in",
        "z": "f73313f401106dc7",
        "g": "2a9ce5eec63a56f7",
        "name": "[ADN] Unity -> Node-RED",
        "server": "c3f6f7a3c9f2a1bb",
        "client": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "a8ef251c8ce117de"
            ]
        ]
    },
    {
        "id": "a8ef251c8ce117de",
        "type": "debug",
        "z": "f73313f401106dc7",
        "g": "2a9ce5eec63a56f7",
        "name": "log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "12dfb431359ac3ca",
        "type": "websocket out",
        "z": "f73313f401106dc7",
        "g": "2a9ce5eec63a56f7",
        "name": "[ADN] Node-RED -> Unity",
        "server": "c3f6f7a3c9f2a1bb",
        "client": "",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "83a410cd540d6117",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "2a9ce5eec63a56f7",
        "name": "Increase +5%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmd\":\"increase\",\"value\":5}",
        "payloadType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "12dfb431359ac3ca"
            ]
        ]
    },
    {
        "id": "fda5696cfa135f61",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "2a9ce5eec63a56f7",
        "name": "Decrease -5%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmd\":\"decrease\",\"value\":5}",
        "payloadType": "str",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "12dfb431359ac3ca"
            ]
        ]
    },
    {
        "id": "de4a243727b480b5",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "2a9ce5eec63a56f7",
        "name": "Set 37%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmd\":\"set\",\"value\":37}",
        "payloadType": "str",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "12dfb431359ac3ca"
            ]
        ]
    },
    {
        "id": "e07be3fcbf91b0f3",
        "type": "websocket in",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "[KOSMO] Unity -> Node-RED",
        "server": "aeebc39d6663b4c2",
        "client": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "c746b06ffd68ffc7"
            ]
        ]
    },
    {
        "id": "5c7089e9d4497fe3",
        "type": "websocket out",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "[KOSMO] Node-RED -> Unity",
        "server": "aeebc39d6663b4c2",
        "client": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "c746b06ffd68ffc7",
        "type": "debug",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "d4ad523c28863d87",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Bouton 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "c47b94d179a70e2a",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Bouton 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "cd78049c622034bf",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Bouton 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "48b31ed7fc0b590f",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Bouton 4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "str",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "ed2277426e05c150",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Bouton 5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "90f96354824a24f0",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Bouton 6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "str",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "99c0def4f9f55d96",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Son 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Son 1",
        "payloadType": "str",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "93be16f05bbb8d67",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Son 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Son 2",
        "payloadType": "str",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "367307c89130d23f",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Son 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Son 3",
        "payloadType": "str",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "af8cbc2d0cc385e6",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Son 4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Son 4",
        "payloadType": "str",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "8dc3aeb1d215dd12",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Success 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "success 2",
        "payloadType": "str",
        "x": 720,
        "y": 480,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "a449f54cf43803f0",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Success 5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "success 5",
        "payloadType": "str",
        "x": 720,
        "y": 520,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "cec9b0b9db1ad643",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Success 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "success 1",
        "payloadType": "str",
        "x": 720,
        "y": 560,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "420e4b7305fe458b",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Success 6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "success 6",
        "payloadType": "str",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "5c343b890664f94c",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Fail",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "fail",
        "payloadType": "str",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "0b944fa2d9d163e9",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "8f0f6d3ff5c47108",
        "name": "Force Win",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "forceWin",
        "payloadType": "str",
        "x": 640,
        "y": 700,
        "wires": [
            [
                "5c7089e9d4497fe3"
            ]
        ]
    },
    {
        "id": "f09c603dc89075ee",
        "type": "websocket out",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "[MISSIONS] Node-RED -> Unity",
        "server": "11fe76ca8e3e3f2c",
        "client": "",
        "x": 1490,
        "y": 360,
        "wires": []
    },
    {
        "id": "9bf577a06e35fab7",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : Hippo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start hippo_glouton",
        "payloadType": "str",
        "x": 970,
        "y": 80,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "451aa9531b020143",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : Hippo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done hippo_glouton",
        "payloadType": "str",
        "x": 970,
        "y": 120,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "68371a9df8e41cd7",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : qui_est_ce",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start qui_est_ce",
        "payloadType": "str",
        "x": 980,
        "y": 240,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "accf8fea5cccc167",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : qui_est_ce",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done qui_est_ce",
        "payloadType": "str",
        "x": 990,
        "y": 280,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "8e49f4a923b59f9f",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : crime_city",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start crime_city",
        "payloadType": "str",
        "x": 980,
        "y": 360,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "5e76a7f8c7e2ab75",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : crime_city",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done crime_city",
        "payloadType": "str",
        "x": 990,
        "y": 400,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "2e218792b126c8b6",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : mystere_de_pekin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start mystere_de_pekin",
        "payloadType": "str",
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "d7884c96e4bd8a28",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : mystere_de_pekin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done mystere_de_pekin",
        "payloadType": "str",
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "39c50a9c9490356e",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : Kosmopolite",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start kosmopolite",
        "payloadType": "str",
        "x": 990,
        "y": 600,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "2d16abb869c63614",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : kosmopolite",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done kosmopolite",
        "payloadType": "str",
        "x": 990,
        "y": 640,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "da620f49c0cecb86",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : dr_maboul",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start dr_maboul",
        "payloadType": "str",
        "x": 980,
        "y": 720,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "e7d81a699daf7166",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : dr_maboul",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done dr_maboul",
        "payloadType": "str",
        "x": 990,
        "y": 760,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "f7f317ee4515326f",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : loup_garou_de_thiercelieux",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start loup_garou_de_thiercelieux",
        "payloadType": "str",
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "99cbbb46b95c3616",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : loup_garou_de_thiercelieux",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done loup_garou_de_thiercelieux",
        "payloadType": "str",
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "17f875d3bfb518e8",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Start : time_line",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start time_line",
        "payloadType": "str",
        "x": 980,
        "y": 960,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "83f3bd4bf9cda951",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Finish : time_line",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done time_line",
        "payloadType": "str",
        "x": 980,
        "y": 1000,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "22374dea64fae238",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 1410,
        "y": 440,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "acc305afcaa43f13",
        "type": "debug",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "989e963299f3b687",
        "type": "websocket in",
        "z": "f73313f401106dc7",
        "g": "6b3daf9014316085",
        "name": "[MISSIONS] Unity -> Node-RED",
        "server": "11fe76ca8e3e3f2c",
        "client": "",
        "x": 1330,
        "y": 140,
        "wires": [
            [
                "acc305afcaa43f13"
            ]
        ]
    },
    {
        "id": "5fa4d073f51c1cbf",
        "type": "websocket in",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "[IA] Unity -> Node-RED",
        "server": "4bb33f19efc56ab8",
        "client": "",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "79aca2182aa820cf"
            ]
        ]
    },
    {
        "id": "79aca2182aa820cf",
        "type": "debug",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 800,
        "wires": []
    },
    {
        "id": "e8f409ed6a0d0b16",
        "type": "websocket out",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "[IA] Node-RED -> Unity",
        "server": "4bb33f19efc56ab8",
        "client": "",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "c0dc41655585f242",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "Alerte energie faible",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hippo",
        "payloadType": "str",
        "x": 270,
        "y": 880,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "d7149195a6443627",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "Alerte Dr Maboule",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "jumanji1",
        "payloadType": "str",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "9e1cc0835f587580",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "Alerte Loup graoouuu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "jumanji2",
        "payloadType": "str",
        "x": 280,
        "y": 960,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "4ca0c7de5b7d35a0",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "Fin de l'alerte",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stopAlerte",
        "payloadType": "str",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "7a7142e8e2787093",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "VAS : 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Visible Active Slots 2",
        "payloadType": "str",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "428e060b02971cdd",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "VAS : 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Visible Active Slots 3",
        "payloadType": "str",
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "b63a5cf045032b75",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "VAS : 4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Visible Active Slots 4",
        "payloadType": "str",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "083762c4d6fc3fc5",
        "type": "mqtt out",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "",
        "topic": "IA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a40a12702c9d6d33",
        "x": 590,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7931e601e76b53cb",
        "type": "mqtt in",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "",
        "topic": "IA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a40a12702c9d6d33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 840,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "07a0547234d6b6b8",
        "type": "mqtt in",
        "z": "f73313f401106dc7",
        "name": "",
        "topic": "mission",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a40a12702c9d6d33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 558.75,
        "wires": [
            [
                "f09c603dc89075ee"
            ]
        ]
    },
    {
        "id": "dc5353e052c502fb",
        "type": "inject",
        "z": "f73313f401106dc7",
        "g": "af0b0d2da630c492",
        "name": "Start phase2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start phase 2",
        "payloadType": "str",
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "e8f409ed6a0d0b16"
            ]
        ]
    },
    {
        "id": "c3f6f7a3c9f2a1bb",
        "type": "websocket-listener",
        "path": "/ws/dna",
        "wholemsg": "false"
    },
    {
        "id": "aeebc39d6663b4c2",
        "type": "websocket-listener",
        "path": "/ws/kosmo",
        "wholemsg": "false"
    },
    {
        "id": "11fe76ca8e3e3f2c",
        "type": "websocket-listener",
        "path": "/ws/mission",
        "wholemsg": "false"
    },
    {
        "id": "4bb33f19efc56ab8",
        "type": "websocket-listener",
        "path": "/ws/ia",
        "wholemsg": "false"
    },
    {
        "id": "a40a12702c9d6d33",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]